<div id="<%= dom_id vuln %>">
  <p>
    <strong>Vuln name:</strong>
    <%= vuln.vuln_name %>
  </p>

  <p>
    <strong>Vuln type:</strong>
    <%= vuln.vuln_type %>
  </p>

  <p>
    <strong>Cve:</strong>
    <%= vuln.cve %>
  </p>

  <p>
    <strong>Discovered:</strong>
    <%= vuln.discovered %>
  </p>

</div>
